body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    margin: 100px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 8px;
    width: 80%;
    margin: 10px 0;
}

button {
    padding: 8px 15px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#msg {
    font-weight: bold;
    margin-top: 15px;
}